/* ------------------------------------ */
/*            確認画面ページ               */
/* ------------------------------------ */
.confirm-page {
    min-height: 100vh;
}

.confirm-page__inner {
    width: 100%;
    margin: 0 auto;
    padding:15px;
}

.confirm-page__title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

/* ------------------------------------ */
/*               確認フォーム             */
/* ------------------------------------ */

.confirm-page__content {
    max-width: 900px;
    max-height: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
}

.confirm-form {
    /* 確認画面のフォーム全体 */
}

.confirm-table {
    width: 100%;
    margin-bottom: 40px;
    border: solid #E0DFDE 1px;
}

.confirm-table__row {
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__header {
    width: 180px;
    padding: 15px 20px;
    font-weight:normal;
    text-align: left;
    background-color: #baa899;
    color: #fff;
    white-space: nowrap;
}

.confirm-table__data {
    padding: 15px 20px;
    text-align: left;
    background-color: #fff;
    color: #8B7969;
}

/* ------------------------------------ */
/* 　          フォームのアクション            */
/* ------------------------------------ */
.confirm-form__actions {
    margin-top: 20px;
    text-align: center;
}

.confirm-form__button {
    margin-right: 20px;
    padding: 10px 40px;
    border: none;
    background-color: #82756A;
    color: #fff;
    line-height:100%;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

/* ------------------------------------ */
/*           修正ボタンのフォーム            */
/* ------------------------------------ */

.confirm-form__button--back {
    margin-left: 20px;
    border: none;
    border-bottom: solid #8B7969 1px;
    background-color: #fff;
    color: #8B7969;
    line-height:100%;
    font-size: 20px;
    font-weight: 400;
}
