/* ------------------------------------ */
/* お問い合わせページ (contact-page Block) */
/* ------------------------------------ */

/* .contact-page {
} */

.contact-page__inner {
    width: 100%;
    margin: 0 auto;
    padding:10px;
}

.contact-page__title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

/* ------------------------------------ */
/* お問い合わせフォーム (contact-form Block) */
/* ------------------------------------ */

/* 全体  */

.contact-form {
    width: 64%;
    margin: 0 auto;
    padding: 30px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 0 2px;
}

/* 入力項目全体 */

.contact-form__group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-form__label-text {
    font-size: 16px;
    width: 30%;
    text-align: left;
}

.contact-form__label-required {
    color: #FF0000;
    font-size: 14px;
    margin-left: 5px;
}

/* 入力項目（name） */

.contact-form__input-name {
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.contact-form__input-field {
    width: 50%;
    padding: 10px 0px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #f8f8f8;
    color: #8B7969;
    outline: none;
}

.contact-form__input-field:first-child {
    margin-right: 50px;
}

/* 入力項目（email,address,building,tel） */

.contact-form__input-field--email,.contact-form__input-field--address
,.contact-form__input-field--building,.contact-form__input-field--tel
,.contact-form__textarea{
    width: 70%;
    padding: 10px 0px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #f8f8f8;
    color: #8B7969;
    outline: none;
}

/* 入力項目tel */

.contact-form__input-tel {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.contact-form__input-tel span {
    margin: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* エラーメッセージ */

.contact-form__error {
    min-height: 1px;
    margin: 0;
    padding: 0;
    color: blue;
    font-size: 14px;
}

/* ラジオボタン */

.contact-form__input-radio {
    display: flex;
}

.contact-form__radio-label {
    margin-right: 20px;
    color: #8B7969;
    cursor: pointer;
}

.contact-form__radio-input { /* ラジオボタン自体 */
    margin-right: 8px;
}

/* 入力項目（category_id） */

.contact-form__input-select {
    display: flex;
    width: 70%;
}

/* TODO課題:本当は擬似要素で矢印作りたい */
.contact-form__select {
    width: 50%;
    padding: 12px 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #f8f8f8;
    color: #8B7969;
    outline: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20fill%3D%22%23888%22%20d%3D%22M208.5%2096.5L128%20177L47.5%2096.5z%22%2F%3E%3C%2Fsvg%3E'); /* カスタムの矢印 */
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 40px;
}

/* 送信ボタン */

.contact-form__actions {
    margin-top: 40px;
    text-align: center;
}

.contact-form__button {
    width: 160px;
    height: 40px;
    padding: 10px 40px;
    line-height: 10px;
    border: none;
    border-radius: 2px;
    background-color: #8B7969;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
