/* ------------------------------------ */
/*     認証ページ（login/register共通）      */
/* ------------------------------------ */

.auth-page {
    min-height: 100vh;
    background-color: #f1ece7;
}

.auth-page__header{
    padding: 20px 0;
}

.auth-page__inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.auth-page__title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.auth-page__content {
    background-color: #FFFFFF;
    padding: 40px;
    border: solid #C5B9B0 1px;
    border-radius: 8px;
    max-width: 550px;
    margin: 0 auto;
}

/* ------------------------------------ */
/*         登録フォーム（loginと共通）        */
/* ------------------------------------ */
.auth-form__group {
    margin-bottom: 25px;
}

.auth-form__label-text {
    font-weight: 400;
    color: #82756A;
    margin-bottom: 8px;
}

.auth-form__input-field {
    width: 100%;
    padding: 12px 15px;
    background-color: #f8f8f8;
    border: transparent;
    color: #82756A;
    outline: none;
}

.auth-form__error-area {
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.auth-form__error-text {
    color: #FF0000;
    font-size: 14px;
    margin: 0;
}

.auth-form__actions {
    text-align: center;
    margin-top: 30px;
}

.auth-form__button {
    background-color: #82756A;
    color: #fff;
    padding: 10px 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
