/* ------------------------------------ */
/*        お問い合わせ完了ページ            */
/* ------------------------------------ */
.thanks-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height:100vh;
    text-align: center;
}

.thanks-page__inner {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: transparent;
}

.thanks-page__message {
    margin-bottom: 40px;
    color: #8B7969;
    font-family: initial;
    font-size: 22px;
    font-weight: bold;
}

.thanks-page__actions {
    margin-top: 20px;

}

.thanks-page__home-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 40px;
    line-height: 100%;
    border: none;
    background-color: #8B7969;
    color: #fff;
    cursor: pointer;
}

/* TODO 画面サイズが変わった時でも全体表示されるようにしたかったけど正解に辿り着けず */
/* ------------------------------------ */
/*            背景の「Thank you」         */
/* ------------------------------------ */
.thanks-page::before {
    content: "Thank you";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    z-index: 0;
    color: rgba(139,121,105,0.05);
    font-weight: 400;
    font-size: 280px;
    white-space: nowrap;
}
